.notice
  margin-top 50px
  padding 20px
  border 1px dashed #e6e6e6
  color #969696
  position relative
  display inline-block
  width 100%
  background rgba(251, 251, 251, 0.31)
  border-radius 10px

.notice i
  float left
  color #999
  font-size 16px
  padding-right 10px
  vertical-align middle
  margin-top -2px

.notice-content
  display initial
  vertical-align middle

