<section class="outer">
  <% if (site.categories.length){ %>
    <h1 class="page-type-title"><%= __('categories') %></h1>
    <div class="categories-box">
      <%- list_categories() %>
    </div>
    <!-- 分类页面动画脚本 -->
    <script src="<%- url_for('/js/categories-animation.js') %>"></script>
  <% } %>
</section>