@keyframes down
      0%
        margin-bottom 0
        opacity 1
      100%
        margin-bottom -15px
        opacity .1
//
.cover-frame
  position relative
  min-width 100%
  height 100vh
  .bg-box
    width 100%
    height 100%
    &>img
      display block
      width 100vw
      height 100vh
      object-fit cover
      object-position center center
.cover-inner
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -100%)
  h1
    font-family font-family-serif
    font-weight 700
    font-size 7rem
    margin 0
    opacity .95
  #subtitle-box
    font-family font-family-serif
    font-weight 400
    font-size 3rem
    margin .5rem 0 1.5rem
  a, &
    color white
    text-decoration none
  video, img
    position relative
  .cover-logo
    width cover-logo-size


.cover-learn-more
  position absolute
  z-index 1
  bottom 10px
  left 0
  width 100%
  a > i
    font-size 3rem
    color white
    animation down 1s linear infinite
    &:hover
      color sea

.float_btns
  position sticky
  bottom 10rem
  right 50px
  z-index 9996
  display flex
  flex-direction column
  align-items center
  width 4rem
  float right

// click-effect canvas (fireworks / clickBoom)
.click-effect-canvas
  position fixed
  left 0
  top 0
  z-index 99999
  pointer-events none

// 随机句子
.random-sentence
  text-align center
  margin 0
  padding 0
  font-size 100%
  color inherit
  font-style normal
  line-height inherit
  br
    display block
    margin 0.2rem 0

.word_count
  margin-top 5px
  color darken(gray,30%)
  padding-bottom 1rem
  border-bottom 1px solid darken(froth-light,2%)

// Media Query
@media (max-width: 768px)
  .cover-inner
    transform translate(-50%, -70%);
    width 100%
    h1
      font-size 4.5rem
    #subtitle-box
      font-size 2rem
  
  .float_btns
    right 10px